@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply h-full overflow-x-hidden;
}

body {
  @apply flex flex-col min-h-full overflow-x-hidden relative;
}

#root {
  @apply flex flex-col flex-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

a {
  @apply underline;
}

@theme {
  --animate-shake: shake 0.5s ease-in-out;

  @keyframes shake {
    0%,
    50%,
    100% {
      transform: translateX(-4px);
    }
    25%,
    75% {
      transform: translateX(4px);
    }
  }

  --animate-ping-once: ping-once 0.5s cubic-bezier(0, 0, 0.2, 1);

  @keyframes ping-once {
    50% {
      transform: scale(2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@layer components {
  .chip {
    @apply rounded-full border px-2 text-sm font-bold;
  }
}